workflow.json
{
  "name": "AI-Powered Client Feedback Routing System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Alladi Customer Feedback (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_FORM_RESPONSES_TAB_ID",
          "mode": "list",
          "cachedResultName": "Form_Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_TAB_ID"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        80
      ],
      "id": "0d97db63-0a76-4949-ba1f-a02548c1eb0a",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['How would you rate your experience with Alladi?'] }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "8eab090d-143e-4c68-901b-1dac6a3868a1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Positive Feedback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "591b3a84-8056-4e2c-954b-9911c4c513a8",
                    "leftValue": "={{ $json['How would you rate your experience with Alladi?'] }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negative Feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        80
      ],
      "id": "9b4057b4-27e3-42ed-8e43-461cd5fba4df",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior business consultant for Alladi, a French e-learning platform.\n\nYour job is to analyze each client feedback like a real customer success consultant. Read the rating, what the client liked, and what the client says we should improve. Use all three pieces of information together.\n\nClient data:\nName: {{ $json.name }}\nEmail: {{ $json['What is your email?'] }}\nRating: {{ $json['How would you rate your experience with Alladi?'] }}\nWhat the client liked: {{ $json['What did you like most about Alladi?'] }}\nWhat the client wants improved: {{ $json['What could we improve?'] }}\n\nHow to think:\nIf rating is 1 or 2, treat this as high risk. Find the exact reason the client is unhappy and explain what Alladi must fix urgently.\nIf rating is 3, treat this as neutral or uncertain. Explain what is missing and how Alladi can turn this client into a happy client.\nIf rating is 4 or 5, treat this as positive. Explain what Alladi is doing well and what should continue, but still mention any improvement request if the client wrote one.\n\nReturn ONLY this exact format:\n\nName: {{ $json.name }}\nEmail: {{ $json['What is your email?'] }}\nRating: {{ $json['How would you rate your experience with Alladi?'] }}\nSentiment: choose one: Positive, Neutral, Negative\nPriority: choose one: Critical, High, Medium, Low\nProblem: Write 1 to 2 clear sentences explaining the main customer issue, praise, or opportunity. Base this on the rating, liked answer, and improve answer.\nSolution: Write 1 to 2 practical consultant-style action steps Alladi should take next.\nRisk Level: Write 1 clear sentence explaining how likely this client is to leave and why.\nPass the structured analysis to the next node so positive and negative feedback can be written to the correct sheet.\n\nRules:\nUse plain text only.\nDo not use bullet points.\nDo not use markdown.\nDo not add extra fields.\nDo not invent details not present in the feedback.\nMake the answer specific to this client, not generic.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "6645ce74-73ce-4795-b762-98c064cf2dae",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        192
      ],
      "id": "db676f32-1419-42ec-8364-883b3c36f923",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labels = ['Name', 'Email', 'Rating', 'Sentiment', 'Priority', 'Problem', 'Solution', 'Risk Level'];\n\nfunction getValue(text, label) {\n  const otherLabels = labels.filter(l => l !== label).join('|');\n  const regex = new RegExp(`${label}:\\\\s*([\\\\s\\\\S]*?)(?=\\\\n(?:${otherLabels}):|$)`, 'i');\n  return text.match(regex)?.[1]?.trim() || '';\n}\n\nreturn $input.all().map(item => {\n  const text = item.json.output || '';\n\n  return {\n    json: {\n      Name: getValue(text, 'Name'),\n      Email: getValue(text, 'Email'),\n      Rating: getValue(text, 'Rating'),\n      Sentiment: getValue(text, 'Sentiment'),\n      Priority: getValue(text, 'Priority'),\n      Problem: getValue(text, 'Problem'),\n      Solution: getValue(text, 'Solution'),\n      'Risk Level': getValue(text, 'Risk Level'),\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "de7a9aba-5d0f-425f-a040-046a8d946adb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior business consultant for Alladi, a French e-learning platform.\n\nYour job is to analyze each client feedback like a real customer success consultant. Read the rating, what the client liked, and what the client says we should improve. Use all three pieces of information together.\n\nClient data:\nName: {{ $json.name }}\nEmail: {{ $json['What is your email?'] }}\nRating: {{ $json['How would you rate your experience with Alladi?'] }}\nWhat the client liked: {{ $json['What did you like most about Alladi?'] }}\nWhat the client wants improved: {{ $json['What could we improve?'] }}\n\nHow to think:\nIf rating is 1 or 2, treat this as high risk. Find the exact reason the client is unhappy and explain what Alladi must fix urgently.\nIf rating is 3, treat this as neutral or uncertain. Explain what is missing and how Alladi can turn this client into a happy client.\nIf rating is 4 or 5, treat this as positive. Explain what Alladi is doing well and what should continue, but still mention any improvement request if the client wrote one.\n\nReturn ONLY this exact format:\n\nName: {{ $json.name }}\nEmail: {{ $json['What is your email?'] }}\nRating: {{ $json['How would you rate your experience with Alladi?'] }}\nSentiment: choose one: Positive, Neutral, Negative\nPriority: choose one: Critical, High, Medium, Low\nProblem: Write 1 to 2 clear sentences explaining the main customer issue, praise, or opportunity. Base this on the rating, liked answer, and improve answer.\nSolution: Write 1 to 2 practical consultant-style action steps Alladi should take next.\nRisk Level: Write 1 clear sentence explaining how likely this client is to leave and why.\nPass the structured analysis to the next node so positive and negative feedback can be written to the correct sheet.\n\nRules:\nUse plain text only.\nDo not use bullet points.\nDo not use markdown.\nDo not add extra fields.\nDo not invent details not present in the feedback.\nMake the answer specific to this client, not generic.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        480
      ],
      "id": "488ad6e3-129a-4f3a-9131-51776ca929b0",
      "name": "AI Agent Negative1"
    },
    {
      "parameters": {
        "jsCode": "const labels = ['Name', 'Email', 'Rating', 'Sentiment', 'Priority', 'Problem', 'Solution', 'Risk Level'];\n\nfunction getValue(text, label) {\n  const otherLabels = labels.filter(l => l !== label).join('|');\n  const regex = new RegExp(`${label}:\\\\s*([\\\\s\\\\S]*?)(?=\\\\n(?:${otherLabels}):|$)`, 'i');\n  return text.match(regex)?.[1]?.trim() || '';\n}\n\nreturn $input.all().map(item => {\n  const text = item.json.output || '';\n\n  return {\n    json: {\n      Name: getValue(text, 'Name'),\n      Email: getValue(text, 'Email'),\n      Rating: getValue(text, 'Rating'),\n      Sentiment: getValue(text, 'Sentiment'),\n      Priority: getValue(text, 'Priority'),\n      Problem: getValue(text, 'Problem'),\n      Solution: getValue(text, 'Solution'),\n      'Risk Level': getValue(text, 'Risk Level'),\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        240
      ],
      "id": "1ab8b07a-2ea0-4e7f-96e3-9ea85a6328a6",
      "name": "Code Negative1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Alladi Customer Feedback (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Positive Feedback",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Rating": "={{ $json.Rating }}",
            "Sentiment": "={{ $json.Sentiment }}",
            "Priority": "={{ $json.Priority }}",
            "Problem": "={{ $json.Problem }}",
            "Solution": "={{ $json.Solution }}",
            "Risk Level": "={{ $json['Risk Level'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        0
      ],
      "id": "f9f20900-cbdc-4360-8a3f-4fb0671ab90f",
      "name": "Append positive sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Alladi Customer Feedback (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Negative Feedback",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Rating": "={{ $json.Rating }}",
            "Sentiment": "={{ $json.Sentiment }}",
            "Priority": "={{ $json.Priority }}",
            "Problem": "={{ $json.Problem }}",
            "Solution": "={{ $json.Solution }}",
            "Risk Level": "={{ $json['Risk Level'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        240
      ],
      "id": "0af0948b-19bc-4fa5-84ff-54878de51f3c",
      "name": "Append negative sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        32,
        688
      ],
      "id": "0da85b40-bec1-4bc1-8258-dea3cff7d774",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Negative1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent Negative1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append positive sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Negative1": {
      "main": [
        [
          {
            "node": "Code Negative1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Negative1": {
      "main": [
        [
          {
            "node": "Append negative sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Negative1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_N8N_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "YOUR_N8N_WORKFLOW_ID",
  "tags": []
}
